tmp/*
build/*
compile_commands.json
.clang-format
.cache/
.vscode/c_cpp_properties.json
lib/ring_buffer/examples/*
include/utcp/net/tcp.h
.vscode/settings.json
log/*
out.txt
.DS_Store
*.txt
mac-laptop.pem
*.csv
